/* Reset code start  */
/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
}
:root{
    --primaryColor: #000000;
    --secondaryColor: #414141;
    --TextColor:#FFFFFF;
    --btnColor: #E50814;
    --btnHoverColor: #C11119;
    --border: 3px solid greenyellow;
    --transition: all 0.3s ease;
    --border-radius: 5px;


}
html{
    scroll-behavior: smooth;
}
html, body{
    width: 100%;
    height: auto;
    font-family:  "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: default;
    background-color: var(--primaryColor);
}
img{
    width: 100%;
    height: 100%;
}
.hr{
    color: var(--TextColor);
    height: 5px;
}

/* Reset code end */

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.858)), url('images/header-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header nav{
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo{
    width: 15%;
    height: 8em;
    display: grid;
    place-content: center;
}
nav .logo img{
    width: auto;
    height: auto;
    max-width: 100% !important;
    max-height: 100% !important;
}
nav .nav-signin-btn a{
    color: var(--TextColor);
    background-color: var(--btnColor);
    display: inline-block;
    padding: 0.5em 1.4em;
    border-radius: var(--border-radius);
    font-weight: 500;
    transition: var(--transition)
}
.nav-signin-btn a:hover{
    background-color: var(--btnHoverColor);
}
/* hero area code start */
.header-container{
    width: 40%;
    margin: 10vh auto;
    text-align: center;
}
.header-container .main-header{
    color: var(--TextColor)
}
.main-header h1{
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 0.5em;
}
.main-header h4{
    font-size: 1.6em;
    font-weight: 300;
}
.header-container p{
    color: var(--TextColor);
    margin: 01em 0;
}
.header-container form{
    max-width: 90%;
    height: auto;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container form input{
    flex-basis: 69%;
    max-height: 100%;
    padding: 20px ;
    border: 2px solid var(--secondaryColor);
    background: transparent;
    color: var(--TextColor);
    font-size: 1.5em;  
}
.header-container form button{
    flex-basis: 29%;
    max-height: 100%;
    padding: 20px ;
    border: 1px solid var(--secondaryColor);
    border-radius: var(--border-radius);
    color: var(--TextColor);
    background-color: var(--btnColor);
    font-size: 1.3rem;
    font-weight: 600;
    transition: var(--transition);
    cursor: pointer;
}
.header-container form button:hover{
    background-color: var(--btnHoverColor);
}
/* hero area code end */

/* ------first section -------features------ */
.features{
    width: 100%;
    padding: 3rem auto;
}
.features .row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}
.row .text-col{
    width: 50%;
    color: var(--TextColor);
}
.row .text-col h2{
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 900;
}
.row .text-col p{
    font-size: 1.2em;
    letter-spacing: .1em;
}
.row .img-col{
    width: 50%;
}


/* ---------first---article------- */
.freequently{
    width: 80%;
    margin: 3rem auto;

    color: white;
}
.freequently h2{
    font-size: 2em;
    font-weight: 800;
    text-transform: capitalize;
}
.freequently .faq li{
    background-color: var(--secondaryColor);
    margin: 1rem 0;
}
.freequently .faq li input{
    display: ;
}
.freequently .faq li label{
    font-size: 1.5em;
    font-weight: 400;
    padding: 4em 1em;
    text-transform: capitalize;
}
.faq-container{
    display: nne;
}